xterm*font:     *-fixed-*-*-*-14-*
xterm*boldFont: *-fixed-*-*-*-14-*

xterm*scrollBar: true
xterm*rightScrollBar: true


! {{{ Quick Reference
!
! Scrolling:
!   Scroll Wheel
!   Shift-PgUp/PgDn
!
! Copy/Paste:
!   Mouse-Select        : Copy to PRIMARY
!   Shift + Mouse-Select: Copy to CLIPBOARD
!
!   Middle-Click        : Paste from PRIMARY
!   Shift + Middle-Click: Paste from CLIPBOARD
!
!   Ctrl+Shift+V        : Paste from CLIPBOARD
!   Ctrl+Alt+Shift+V    : Paste from PRIMARY
!
! }}}
 
*VT100.Translations: #override \
					Shift <Key>Up:              scroll-back(1) \n\
					Shift <Key>Down:            scroll-forw(1) \n\
					~Meta Shift Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
					Meta Shift Ctrl <Key>V:    insert-selection(PRIMARY) \n\
					~Shift <Btn1Up>:            select-end(PRIMARY, CUT_BUFFER0) \n\
					Shift <Btn1Up>:            select-end(CLIPBOARD, CUT_BUFFER1) \n\
					~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(PRIMARY, CUT_BUFFER0) \n\
					Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)
